
.data-options{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    
}

.profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: grey;
}

.option{
    cursor: pointer;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
}

.link{
    text-decoration: none;
    color: black;
}